{% extends "layout.html" %}
{% block content %}
<div class="homepg">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="flashmsg">{{ msg }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

        <div class="homepgbox">
            <h1>Welcome to SS-Insights</h1>
            <div id="introhomepg">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam iure sint, iste quis quam,
                voluptas dolores ipsam perferendis atque a veniam delectus numquam, excepturi ad impedit molestiae velit laborum quas.
                Velit totam expedita porro corrupti tempora dicta error! Cum, repellat, ex eaque dolorum voluptates amet eos repellendus,
                ducimus soluta sequi qui. Quos animi dolorum hic commodi quis rerum temporibus ea sunt atque debitis quod inventore ad facilis
                odio aliquid iure tempora quisquam dolor fugit velit incidunt laudantium, fuga saepe? Fuga maxime optio,
                pariatur quam fugiat autem! Iure, numquam commodi. Nihil commodi expedita impedit architecto, officia minus quae.
                Vel, eius qui?
            </div>
        </div>

        <div class="contacthomepg">

            <div class="imgshomepg">
                <a href="/"><img src="{{ url_for('static', filename='img/gmail.png') }}" alt="Gmail" id="gmailpic"></a>
                <a href="https://www.linkedin.com/in/shikhar-sriv/"><img src="{{ url_for('static', filename='img/linkedinlogo.png') }}" alt="Linkedin" id="linkedinpic"></a>
            </div>

            <div class="contactbox">
                <div id="form">
                    <h1 id="conpagehead">Have any queries?</h1>
                    <h3 id="conpagesubhead">Fill out the form below. I'll try my best to help you :)</h3>
                    <form action="/home" method="post">
                        <div class="connectform">
                            <label for="name">Please enter your name<span>*</span></label>
                            <input type="text" placeholder="Name" required name="name">
                        </div>
                        <div class="connectform">
                            <label for="email">Please enter your email<span>*</span></label>
                            <input type="email" placeholder="Email" required name="email">
                        </div>
                        <div class="connectform">
                            <label for="phone_num">Please enter your contact number </label>
                            <input type="tel" placeholder="+91-8888888888" maxlength="12" name="phone_num">
                            <small>Format: +91-1234567890</small>
                        </div>
                        <div class="connectform">
                            <label for="query">Please enter your query<span>*</span></label>
                            <textarea name="query" id="" cols="50" rows="10"
                                placeholder="Can be a feedback as well, LOL!" required></textarea>
                        </div>
                        <div class="connectform">
                            <button type="submit">Submit</button>
                        </div>
                        <div class="connectform">
                            <p><span>*</span> Indicates Mandatory</p>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}